<nav class="navbar navbar-light bg-secondary">
  <div class="container">
    <a class="navbar-brand text-white" href="#">Numerical</a>
    <span class="navbar-text">By Artittaya Mahisnan No. 5804062636569</span>
  </div>
</nav>

<div class="row">
  <div class="col-auto bg-dark ml-2">
    <div class="mt-3 ">
      <button type="button" class="btn btn-outline-secondary btn-block" routerLink="bisection">BISECTION</button>
    </div>
    <div class="mt-3">
      <button type="button" class="btn btn-outline-secondary btn-block" routerLink="false-position">FALSE POSITION
      </button>
    </div>
    <!--<div class="mt-3">-->
      <!--<button type="button" class="btn btn-outline-secondary btn-block" routerLink="newton-raphson">NEWTON RAPHSON-->
      <!--</button>-->
    <!--</div>-->
    <div class="mt-3">
      <button type="button" class="btn btn-outline-secondary btn-block" routerLink="one-point">ONE POINT</button>
    </div>
    <div class="mt-3">
      <button type="button" class="btn btn-outline-secondary btn-block" routerLink="secant">SECANT</button>
    </div>
    <!--<div class="mt-3">-->
      <!--<button type="button" class="btn btn-outline-secondary btn-block" routerLink="cramers-rule">CRAMER'S RULE</button>-->
    <!--</div>-->
    <div class="mt-3">
      <button type="button" class="btn btn-outline-secondary btn-block" routerLink="gauss-elimination">GAUSS ELIMINATION</button>
    </div>
    <div class="mt-3">
      <button type="button" class="btn btn-outline-secondary btn-block" routerLink="gauss-jordan">GAUSS JORDAN</button>
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
